@model IEnumerable<Product>


@{
    var category = Context.Request.Query["category"];
    var smartPhone = "text-primary";
    var test = "text-primary";
    var all = "text-primary";



    switch (category)
    {
        case "smartPhone":
            smartPhone = "bg-primary active text-white";
            break;
        case "":
            test = "bg-primary active text-white";
            break;
        default:
            all = "active bg-primary text-white";
            break;
    }


}



<div class="d-flex justify-content-between pb-1 pt-0">
    <span></span>
    <ul class="list-group list-group-horizontal-sm">
        <a style="text-decoration:none;" asp-controller="Home" asp-action="Index" asp-route-category="smartPhone">
        <li class="list-group-item @smartPhone ">Смартфони</li>
        </a>
        <a style="text-decoration:none;" asp-controller="Home" asp-action="Index" asp-route-category="test">
        <li class="list-group-item @test" >Бігові</li>
        </a>
        <a style="text-decoration:none;" asp-controller="Home" asp-action="Index" asp-route-category="forAsphalt">
        <li class="list-group-item ">Для асфальтного покриття</li>
        </a>
        <a style="text-decoration:none;" asp-controller="Home" asp-action="Index" asp-route-category="sportStyle">
        <li class="list-group-item">Спортивний стиль</li>
        </a>
        <a style="text-decoration:none;" asp-controller="Home" asp-action="Index" asp-route-category="all">
        <li class="list-group-item  @all">Усі</li>
        </a>
    </ul>
</div>






















<div class="row container-fluid pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-4 ">
            <div class="row p-2">
                <div class="col-12 p-1 ">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                        @if (product.ProductImages != null && product.ProductImages.Count() > 0)
                        {
                            @if (product.IsSale == true)
                            {
                                <span class="badge bg-danger rounded-pill w-25">Знижка</span>
                            }
                            <h2 class="text-center"><img src="@product.ProductImages.FirstOrDefault().ImageUrl" class="card-img-top rounded" asp-action="Details" asp-route-productId="@product.Id" style="width:100%" /></h2>
                        }
                        else
                        {
                            <h2 class="text-center"><img src="@product.ProductImages.FirstOrDefault().ImageUrl" asp-action="Details" asp-route-productId="@product.Id" class="card-img-top rounded " style="width:100%" /></h2>
                        }
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Name</p>
                                <p class="card-title text-warning text-center"> <b>@product.Model</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-1">
                                    @if (product.IsSale)
                                    {
                                        <span class="">
                                            <h6 class="text-center">@product.PriceForSale ₴ </h6>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="">
                                            <h6 class="text-center">@product.Price ₴ </h6>
                                        </span>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-lg-6 ">
                            <div class="w-50 btn-group " role="group">
                                <a asp-action="AddToWish" asp-route-productId="@product.Id" class="btn btn-outline-secondary  ">
                                    <i class="bi bi-heart"></i>
                                </a>
                                <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary px-5 ">
                                    Детальніше
                                </a> &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>